<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .center{
            position: absolute;
            width: 300px;
            height: 200px;
            top: 30%;
            left: 50%;
            margin: -100px 0 0 -150px;
        }

        .button{
            position: relative;
            margin-left: 115px;
        }
    </style>
</head>

<body>
    <form action="/" method="POST">
        <div class="container">            

            <div class="center">
                <h1 style="text-align: center;">API</h1>
                <label for="name" > Name
                    <input type="text" name="name">
                </label>

                <div class="button">                
                    <input type="submit" value="submit" class="btn btn-primary">
                </div>

                <h3 style="text-align: center;">API Keys</h3>

                <div></div>
                {% for i in name %}
                    <p style="text-align: center;">{{i}}</p>
                {% endfor %}
            </div>

        </div>
    </form>
</body>
</html>